/ExampleConstants.class
/ExampleTokenManager.class
/HilferufParser.class
/HilferufParserConstants.class
/HilferufParserTest.class
/HilferufParserTokenManager.class
/ParseException.class
/SimpleCharStream.class
/Token.class
/TokenMgrError.class
